*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;

}
.navbar-brand{
    font-size: 2rem;
    color: rgb(252, 186, 64);
    font-family: 'Lobster', cursive;
    
}
/*.......Nav.................................*/


.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

/*.......main.................................*/


.main{

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/food.jpg) no-repeat;
    background-size: cover; 
    background-attachment:fixed ;
}
.main h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: black;
    margin-top: 140px;
    
   
}
.btn{
    height: 45px;
    width: 35%;
    border:none;
    outline: none;
    
    
}

/*.......new.................................*/
.new p{
font-weight: 500;
font-size: 3rem;
font-family: 'Lobster', cursive;;
}

/*.......DISHES.................................*/

.DISHES{
    padding-bottom:3rem ;
}
.DISHES h1{

    color: rgb(252, 186, 64);
    font-family: 'Lobster', cursive;
   
}
.card{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
}
.card:hover{
    transform: scale(1.05);

    
}

/*.......restaurant.................................*/

.restaurant{
    width: 70%;
    height: auto;
    padding-bottom:15rem ;
    padding-top: 15rem;

}
.restaurant h1{
    margin-bottom: 35px;
    color: rgb(252, 186, 64);
    font-family: 'Lobster', cursive;
    font-weight: 500;
}
/*.......contact.................................*/
.contact p span{
font-size: 2rem;
font-family:'Lobster', cursive ;
font-weight: 300;

}
 
.contact img{
  
    border-radius: 5px;
}


.form h3 {
     
    margin-bottom: 35px;
    color: rgb(252, 186, 64);
    font-family: 'Lobster', cursive;
    font-weight: 800;

}  
.submit  {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin-bottom: 2px;
    font-weight: bold;
  }
  .submit:hover {
    background-color: #43a09d;
  }
  .reset  {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
  }
  .reset:hover {
    background-color: #43a09d;
  }
  textarea {
    height: 100px;
}
input, textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

/*..............footer..............................*/

footer{

    width: 100%;
    background-color: rgb(245, 151, 56 );
   color:#fff;
   font-family: 'Lobster', cursive; 

}

footer h1{
    font-weight : 700;
    text-align: center; 
}

footer .copyright{
    text-align: right;
}